@include color-mode(dark) {
  .dark\:text-gray-500 {
    color: $gray-500 !important;
  }

  .dark\:table-dark {
    @extend .table-dark;
  }

  .dark\:bg-dark {
    @extend .bg-dark;
  }
}

// Animazioni
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}
